.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

[v-cloak] {
    display: none;
}

.color {
    min-height: 100px;
    min-width: 100px;
    border: solid 1px rgba(50, 50, 50, 50);
}

.fade-leave-active, 
.fade-enter-active {
    transition: opacity 0.5s ease-out;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to {
    opacity: 1;
}

.fade-move {
    transition: transform 0.5s;
}

.slide-enter-active,
.slide-leave-active {
    transition: transform 0.3s ease-out;
}

.slide-enter {
    transform: translateX(-100vw);
}

.slide-leave-to {
    transform: translateX(100vw);
}