<template>
    
    <figure class="figure">
        <transition name="slide" mode="out-in" appear>
            <img v-bind:src="url" alt="an img" class="img-responsive">
        </transition>
        
        <figcaption class="text-center text-gray mt-2">{{ imageOutOfImages }}</figcaption>
    </figure>

</template>

<script>
    export default {
        name: "Slide",
        props: {
            url: {
                type: String,
            },
        },
        props: {
            url: {
                type: String,
            },
            imageOutOfImages: {
                type: String,
            },
        },
        data() {
            return {

            }
        },
        computed: {
            
        },
        destroyed() {
            console.log('destroyed!');
        }
    }
</script>

<style scoped>
    .slide-enter-active {
        transition: transform 0.3s ease-out;
    }

    .slide-enter {
        transform: translateX(-100vw);
    }

    .slide-leave-to {
        transform: translateX(100vw);
    }

    figure.figure {
        transition: opacity 0.2s ease-out;
    }

    .dimmed {
        opacity: 0.5;
    }
</style>