<template>

    <div class="slides-wrapper" v-bind:class="{'loading': isLoading || loaded === false}">

        <template v-if="loaded === true">

            <button class="btn btn-primary btn-action btn-lg slides-prev" v-bind:disabled="isPreviousImageIndexValid() === false || isLoading === true" v-on:click="previousImage">
                <i class="icon icon-arrow-left"></i>
            </button>

            <div class="slides">
                <Slide v-bind:class="{'dimmed': isLoading}" v-on:previousImage="previousImage" v-on:nextImage="nextImage" v-bind:url="activeUrl" v-bind:imageOutOfImages="imageOutOfImages"/>
            </div>

            <button class="btn btn-primary btn-action btn-lg slides-next" v-bind:disabled="isNextImageIndexValid() === false || isLoading === true" v-on:click="nextImage">
                <i class="icon icon-arrow-right"></i>
            </button>

        </template>

    </div>

</template>

<script>
    import { preloadImage } from '../helpers/helpers';
    import Slide from './Slide';

    export default {
        name: "Slideshow", // this is the name of the component which we put in its parent 'components' property.
        props: {
            images: {
                type: Array
            }
        },
        data() {
            return {
                _currentIndex: 0,
                isLoading: false,
                loaded: false,
            }
        },
        components: {
            Slide,
        },
        watch: {
            images(oldValue, newValue) {
                if (this.loaded === false)
                    this.preloadImageByIndex(this.getCurrentImageIndex);
            },
            $route() {
                let routeImageIndex = this.$route.params.index;
                this.setCurrentImageNumber(routeImageIndex);
            }
        },
        computed: {
            imageOutOfImages() {
                return `${this.currentImageNumber} / ${this.imagesLength}`;
            },
            currentImageNumber() {
                return parseInt(this.$data._currentIndex) + 1;
            },
            getCurrentImageIndex() {
                return this.$data._currentIndex;
            },
            imagesLength() {
                return this.images.length;
            },
            imagesLastIndex() {
                return this.imagesLength - 1;
            },
            activeUrl() {
                if (this.hasImages() === false)
                    return;

                if (this.isCurrentImageIndexValid()) 
                    return this.images[this.getCurrentImageIndex].url;
                
                return this.images[this.imagesLastIndex].url;
            },
        },
        methods: {
            setCurrentImageIndex(index) {
                if (this.isImageIndexValid(index) === true) {
                    this.$data._currentIndex = index;

                    let number = index + 1;
                    this.$router.push(`/slide/${number}`).catch(err => {});
                
                    return;
                }
                
                console.log('this index doesnt correspond to any of the slides');
            },
            setCurrentImageNumber(number) {
                let index = number - 1;

                this.setCurrentImageIndex(index);
            },
            hasImages() {
                return this.imagesLength > 0;
            },
            isNextImageIndexValid(index) {
                return this.isImageIndexValid(this.getCurrentImageIndex + 1);
            },
            isPreviousImageIndexValid(index) {
                return this.isImageIndexValid(this.getCurrentImageIndex - 1);
            },
            isImageIndexValid(index) {
                return index <= this.imagesLastIndex && index >= 0;
            },
            isCurrentImageIndexValid() {
                return this.isImageIndexValid(this.getCurrentImageIndex);
            },
            previousImage() {
                if (this.isPreviousImageIndexValid() === false)
                    return;
                
                let newIndex = this.getCurrentImageIndex - 1;

                this.preloadImageByIndex(newIndex);
            },
            nextImage() {
                if (this.isNextImageIndexValid() === false)
                    return;
                    
                let newIndex = this.getCurrentImageIndex + 1;

                this.preloadImageByIndex(newIndex);
            },
            preloadImageByIndex(index) {
                this.isLoading = true;

                preloadImage(this.images[index].url)
                    .then(url => {
                        this.setCurrentImageIndex(index);

                        this.isLoading = false;
                        this.loaded = true;
                    })
                    .catch(err => {
                        console.error('an error occured while loading an image');
                    });
            },
        },
        created() {
        }
    }

</script>

<style scoped>
    .slides-wrapper {
        min-height: 300px;
        position: relative;
    }

    .slides-next,
    .slides-prev {
        position: absolute;
        top: 50%;

        transform: translateY(-50%);
    } 

    .slides-prev {
        left: 0;
    }

    .slides-next {
        right: 0;
    }
</style>