<template>
  <div id="app">

    <h2>Slideshow</h2>

    <router-view v-bind:images="images"></router-view>

  </div> 
</template>

<script>
    import axios from 'axios';
    import Slideshow from './components/Slideshow';
    import imagesArray from './helpers/images';

    export default {
        name: "App",
        components: {
          Slideshow,
        },
        props: {
          endpoint: String,
        },
        data() {
          return {
            images: [],
          }
        },
        created() {
          axios.get(this.endpoint)
            .then(res => this.images = res.data);
        }
    }
</script>